/* Color palet FFE0BB  FFC887*/

body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Oswald', 'Open Sans Condensed', sans-serif;
	font-size: 35px;
	font-weight: 300;
	overflow-x: hidden;
}


/**************** REUSABLE *****************/

/*.myContainer{
	width: 100%;
}*/



/**************** FIXED NAVBAR *****************/

.navBar{
	position: fixed;
	width: 800px;
	height: 55px;
	top: 5%;
	background-color: #FFFCF9;
	border: 1px solid #E1E1E1
	text-align: center;
	z-index: 10;
	opacity: 0.95;
	display: none;
}

.navBar ul{
	margin-bottom: 0;
	height: inherit;
}

.navBar li{
	display: inline-block;
	margin-right: 10px;
	height: inherit;
	padding: 5px 10px 0 10px;
}

.navBar li:hover{
	background-color: #FFC887;
}

/*#logoNavbar{
	position: absolute;
	right: 2%;
	height: 90px;
	top: -20px;
}*/

.liLogo{
	float: right;
	pointer-events: none;
}

#logoNavbar{
	margin-left: 2px;
	margin-right: 2px;
	height: 30px;
}

#menu-icon-div{
    background-color: #505050;
    opacity: 0.8;
    width: 35px;
    position: fixed;
    right: 3%;
    top: 6%;
    z-index: 50;
    text-align: center;
}

#menu-icon-div:hover{
    background-color: #2B2B2B;
}

.menu_icon{
	cursor: pointer;
    color: #000;
}


/******************** HEADER *******************/

header{
	height: 100vh;
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/IMG_3972.JPG);
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/IMG_3972.JPG);
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/IMG_3972.JPG);
	background-size: cover;
	text-align: center;
	color: #fff;
}

.title{
	font-size: 180px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 32%;
	margin-bottom: 0;
	opacity: 0.65;
	letter-spacing: 15px;	
}

.titleContainer h3{
	/*float: right;*/
	font-size: 40px;
	font-weight: 200;
	margin-top: 0;
	/*margin-right: 215px;*/
}

header img{
	position: absolute;
	height: 100vh;
	opacity: 0.2;
	top: 0;
	right: 38%;
}

header button{
	position: absolute;
	bottom: 5%;
	left: 46%;
	border: solid 1px #FFE0BB;
	opacity: 0.5;
	color: #000;
	font-weight: 300;
	background-color: #FFE0BB;
	transition: background-color 0.8s;
}

header button:hover{
	background-color: #FFC887;
	border: solid 1px #FBAE51;
}


/*********************** ABOUT ***********************/

.about, .about .container{
	position: relative;
	text-align: center;
}

.about h2{
	margin-top: 
	color: #FBAE51;
	font-size: 100px;
}

.aboutP{
	padding-top: 90px;
	padding-bottom: 110px;
}

.grid div{
	/*height: 550px;*/
	height: 80vh;
}

/*.grid .col-md-6{
	margin-top: 100px;                                              option for about grid
}
*/
.grid i{
	display: block;
	font-size: 100px;
	transition: color 1s;
}

.grid .ion-social-instagram:hover{
	color: #c13584;
}

.grid .ion-social-facebook:hover{
	color: #3b5998;
}

.grid .ion-social-twitter:hover{
	color: #1da1f2;
}

.grid .ion-social-youtube:hover{
	color: #cd201f;
}


.bkgBlack{
	background-color: #000;
}

.bkgGrey{
	font-size: 120%;
	padding-top: 50px;
	background-color: #B7B7B7;
}

.bkgGrey h3{
	font-weight: bold;
	font-size: 70px;
}

.reachContainer{
	margin-top: 60px;
}

.reachContainer h2{
	margin-bottom: 60px;
}

.socialReachInner{
	position: relative;
}

.socialReachInner img{
	float: left;
	margin-left: 100px;
}

.smrNumber{
	position: absolute;
	top: 32%;
	right: 17%;
	font-weight: bold;
	font-size: 130px;
	color: #333;
	padding-left: 20px;
	background-color: white;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}


/******************* CONTATC *******************/

.contact{
	margin-top: 120px;
	text-align: center;
}

.contact .jumbotron{
	height: 400px;
}

.contactLine{
	display: block;
	content: " ";
	width: 150px;
	height: 1px;
	background-color: #5D5D5D;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.contact h2{
	font-size: 80px;
	margin-bottom: 60px;
}

.input-group, #mensaje{
	margin: 0 auto;
	margin-bottom: 20px;
	width: 60%;
}

/* ********************* FOOTER ********************** */


footer{
	margin-top: 50px;
    padding-bottom: 15px;
    background-color: #232f3e;
}

.footer_inner{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #ddd;
}

.footer_logo_div{
    margin-right: 25px;
    display: inline-block;
}

.footer_inner img{
    display: inline-block;
    width: 50px;
}

.footer_inner h4{

}


.glyphicon-globe{
    margin-right: 5px;
    margin-left: 5px;
    font-size: 115%;
}

.backTop_div{
    background-color: #313943;
    height: 70px;
    margin-bottom: 20px;
    color: #ddd;
}

.backTop_div:hover{
    background-color: #424e5d;
    cursor: pointer;
}

.backTop_div div{
    text-align: center;
    width: 30%;
    margin: 0 auto;
    padding-top: 15px;
}

/********************* SLIDER ****************/

.sliderContainer{
	width: 100vw;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: hidden;
	box-shadow: 5px 5px 5px #888888;
}

.slider{
  /*height: 550px;*/
  height: 80vh;
  /*width: 10000px;*/
/*  margin-top: 100px;*/

}

.innerSlider{
  height: 80vh;
  width: 100vw;
  background-color: #eee;
  float: left;
}


#button{
  margin-top: 10px;
  width:100px;
}

.ion-ios-arrow-left{
	position: absolute;
	left: 2%;
	top: 35%;
	font-size: 100px;
	z-index: 10;
	opacity: 0.3;
	cursor: pointer;
	color: #6F6F6F;
	animation: arrowLeft 2s linear infinite;
}


.ion-ios-arrow-right{
	position: absolute;
	right: 1%;
	top: 35%;
	font-size: 100px;
	z-index: 10;
	opacity: 0.3;
	cursor: pointer;
	color: #6F6F6F;
	animation: arrowRight 2s linear infinite;
}


@keyframes arrowRight{
	0%{
		right: 0.5%;
	}
	50%{
		right: 0%;
	}
	100%{
		right: 0.5%;
	}
}

@keyframes arrowLeft{
	0%{
		left: 0.5%;
	}
	50%{
		left: 0%;
	}
	100%{
		left: 0.5%;
	}	
}


/*************** SCROLL BAR **************/

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(198,198,198,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(198,198,198,0.4); 
}