/* Color palet FFE0BB  FFC887*/

body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
}


/**************** REUSABLE *****************/

.myContainer{
	width: 100%;
}



/**************** FIXED NAVBAR *****************/

.navBar{
	position: fixed;
	width: 800px;
	height: 55px;
	top: 5%;
	background-color: #FFFCF9;
	border: 1px solid #E1E1E1
	text-align: center;
	z-index: 10;
	opacity: 0.95;
	display: none;
}

.navBar ul{
	margin-bottom: 0;
	height: inherit;
}

.navBar li{
	display: inline-block;
	margin-right: 10px;
	height: inherit;
	padding: 5px 10px 0 10px;
}

.navBar li:hover{
	background-color: #FFC887;
}

/*#logoNavbar{
	position: absolute;
	right: 2%;
	height: 90px;
	top: -20px;
}*/

.liLogo{
	float: right;
	pointer-events: none;
}

#logoNavbar{
	margin-left: 2px;
	margin-right: 2px;
	height: 30px;
}

#menu-icon-div{
    background-color: #505050;
    opacity: 0.8;
    width: 35px;
    position: fixed;
    right: 3%;
    top: 6%;
    z-index: 50;
    text-align: center;
}

#menu-icon-div:hover{
    background-color: #2B2B2B;
}

.menu_icon{
	cursor: pointer;
    color: #000;
}


/******************** HEADER *******************/

header{
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/groupOfPeople.jpg);
	background-size: cover;
	text-align: center;
	color: #fff;
}

.title{
	font-family: 'Cinzel Decorative', cursive;
	font-size: 150px;
	margin-top: 25%;
	opacity: 0.65;
}

header img{
	position: absolute;
	height: 100vh;
	opacity: 0.2;
	top: 0;
	right: 38%;
}

header button{
	margin-top: 220px;
	border: solid 1px #FFE0BB;
	opacity: 0.5;
	color: #000;
	font-weight: 300;
	background-color: #FFE0BB;
	transition: background-color 0.8s;
}

header button:hover{
	background-color: #FFC887;
	border: solid 1px #FBAE51;
}


/*********************** ABOUT ***********************/

.about, .about .container{
	height: 100vh;
	position: relative;
	text-align: center;
}

.about h2{
	margin-top: 
	color: #FBAE51;
	font-size: 100px;
}

.aboutP{
	padding-top: 90px;
	padding-bottom: 110px;
}

.grid div{
	height: 550px;
}

/*.grid .col-md-6{
	margin-top: 100px;                                              option for about grid
}
*/
.grid i{
	display: block;
	font-size: 100px;
}

.bkgBlack{
	background-color: #000;
}

.bkgGrey{
	font-size: 120%;
	padding-top: 50px;
	background-color: #979797;
}

.bkgGrey h3{
	font-weight: bold;
	font-size: 70px;
}

.socialReachInner{
	position: relative;
}

.socialReachInner img{
	float: left;
}

.smrNumber{
	position: absolute;
	top: 32%;
	right: 10%;
	font-weight: bold;
	font-size: 130px;
	color: #333;
	padding-left: 20px;
	background-color: white;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}